/*
 * Here we put the style definitions 
 *
 *
 */


* {
    -webkit-font-smoothing: subpixel-antialiased;;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}

body {
    margin:0;
    overflow: hidden;
}

